<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>

    <!-- Standard html page stuff
    --------------------------------------------------------------------- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="ISM6225 Group 10" />
    <meta name="copyright" content="ISM6225 Group 10" />

    <!-- Mobile Specific Metas
    --------------------------------------------------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Rocky Stocks</title>

    <!-- Font
    --------------------------------------------------------------------- -->
    <link rel="stylesheet" href="~/css/site_fonts.css" />

    <environment include="Development">
        <!-- CSS
    --------------------------------------------------------------------- -->
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
        <!-- javascript
    --------------------------------------------------------------------- -->
        <script type="text/javascript" src="~/js/main.js"></script>
        <script type="text/javascript" src="~/js/chart_min.js"></script>
        <script type="text/javascript" src="~/js/make_charts.js"></script>

        <!-- Favicon
    --------------------------------------------------------------------- -->
        <link rel="icon" type="img/png" href="~/images/favicon.ico" />

    </environment>
    <environment exclude="Development">
        <!-- CSS
    --------------------------------------------------------------------- -->
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
        <!-- javascript
    --------------------------------------------------------------------- -->
        <script type="text/javascript" src="~/js/main.js"></script>
        <script type="text/javascript" src="~/js/chart_min.js"></script>
        <script type="text/javascript" src="~/js/make_charts.js"></script>
        <!-- Favicon
    --------------------------------------------------------------------- -->
        <link rel="icon" type="img/png" href="~/images/favicon.ico" />
    </environment>
</head>
<body id="MainPage">
    <!-- Primary Page layout
    --------------------------------------------------------------------- -->
    <!-- main menu bar at the top
    --------------------------------------------------------------------- -->
    <div class="header">
        <div class="container">
            <div class="row header_row">
                <div class="one-third column">
                    <a href="index.html"><img src="~/images/trl_logo2_t.png" /></a>
                </div>
                <div class="two-thirds column">
                    <div class="u-pull-right">
                        <div class="topnav" id="myTopnav">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="active">Home</a>
                            <a asp-area="" asp-controller="Home" asp-action="Index">two</a>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    Dropdown <img src="~/images/down_t.png" />
                                </button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">item one</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">item two</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">item three</a>
                                </div>
                            </div>
                            <a href="index.html">four</a>
                            <a asp-area="" asp-controller="Home" asp-action="About">About Project</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ISM6225_Assignment_3_Project</p>
        </footer>
    </div>

    <environment include="Development">

    </environment>
    <environment exclude="Development">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
