@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h4>Team</h4>
<p><b>Jasmine Gilbert</b></p>
<p>
Jasmine Bio
</p>
<p><b>Michael Mooney</b></p>
<p>
    Michael is a Senior Data Analyst with an S&P 500 company. His current 
    position requires using associate performance data in order to implement solutions 
    minimizing costs in back office support functions. Michael has held a variety of 
    positions in publically traded corporations from a variety of industries including 
    retail, manufacturing, banking, and transportation. The positions were mostly focused 
    on using big data solutions to solve problems in revenue and cost analysis.
    He earned a Bachelor of Science in Accounting from Fitchburg State University.
</p>
<p><b>Alyssa Sison</b></p>
<p>
    Alyssa Sison is an IT Business Analyst at the Depository Trust and Clearing Corporation (DTCC). 
    She works as part of the settlement area in the application development department. Since 
    she started at DTCC, Alyssa has worn multiple hats including being a project manager, DR 
    coordinator, and certified Scrum Master (CSM). She earned a Bachelor of Science in 
    Management Information Systems with a Minor in Management from the University of South 
    Florida.
</p>
<br />
<h4>Business</h4>
<p>   
    Our goal is to provide students with the basic tools they'll need to understand the
    stock market. To make this learning experience more interesting to the user, we 
    modeled our site after our previous project which was based on booking a trip - we 
    chose several stocks involving companies in the line of travel. When the user goes to 
    our site, they will get a chance to see the latest trends of the different travel 
    companies, as well as view these trends through the differnt currencies of select 
    countries. We also have a feature where the user will be able to see the company's 
    logo and latest news.
</p>
