@{
    ViewData["Title"] = "About Page";
}

<p></p>
<p></p>
<p></p>

<div class="container bg-light">
    <div class="row">
        <div class="col-lg-12">
            <h2>Team - Group 10</h2>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <p><h5>Jasmine Gilbert</h5></p>
                <p>
                    Jasmine is a Manager of Data & Analytics at Aon - working in US Commercial Risk.
                    As a subject matter expert, she effectively leads a team of analysts in business intelligence, data visualization,
                    statistical analysis, and programming. Her team supports stakeholders in key initiatives and building cross functional
                    business use cases in guiding TCOR strategies. Jasmine has worked in the insurance,
                    supply chain and financial fields, having earned a Bachelor of Science in Social Science and Actuarial Science
                    from Florida State University.



                </p>
                <p><h5>Michael Mooney</h5></p>
                <p>
                    Michael is a Senior Data Analyst with an S&P 500 company. His current
                    position requires using associate performance data in order to implement solutions
                    minimizing costs in back office support functions. Michael has held a variety of
                    positions in publically traded corporations from a variety of industries including
                    retail, manufacturing, banking, and transportation. The positions were mostly focused
                    on using big data solutions to solve problems in revenue and cost analysis.
                    He earned a Bachelor of Science in Accounting from Fitchburg State University.
                </p>
                <p><h5>Alyssa Sison</h5></p>
                <p>
                    Alyssa Sison is an IT Business Analyst at the Depository Trust and Clearing Corporation (DTCC).
                    She works as part of the settlement area in the application development department. Since
                    she started at DTCC, Alyssa has worn multiple hats including being a project manager, DR
                    coordinator, and certified Scrum Master (CSM). She earned a Bachelor of Science in
                    Management Information Systems with a Minor in Management from the University of South
                    Florida.
                </p>
                <br />
                <h4>Business</h4>
                <p>
                    Our goal is to provide students with the basic tools they'll need to understand the
                    stock market. To make this learning experience more interesting to the user, we
                    modeled our site after our previous project which was based on booking a trip - we
                    chose several stocks involving companies in the line of travel. When the user goes to
                    our site, they will get a chance to see the latest trends of the different travel
                    companies, as well as view these trends through the differnt currencies of select
                    countries. We also have a feature where the user will be able to see the company's
                    logo and latest news.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <p>
                    <h4>Project Details</h4>
                    The project use the following API's and endpoints <br />
                    1. Stock Prices <br />
                    2. Company Logos <br />
                    3. Exchange Rates<br />
                    4. News <br />
                    <br /><br />
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <p>
                    <h4>References</h4>
                    1. http://www.thetraveldebugger.com/2017/08/10/travel-stock-market/ <br />
                    2. https://www.investopedia.com/articles/01/070401.asp <br />
                    3. https://www.benzinga.com/investing/how-to-read-a-stock-chart/ <br />
                    4. https://business.westernunion.com/en-us/learning-center/FX-101/How-to-Read-FX-Rates <br />
                    5. https://www.learn-stock-options-trading.com/stock-charts.html <br />
                </p>
                <br /><br />
            </div>
        </div>
    </div>
</div>