@model IEnumerable<ISM6225_Assignment_3_Project.Models.iex_api_Company>
<!-- Top Section
-------------------------------------------------------------------------- -->
<div class="top_section new_section">
    <div class="container">
        <div class="row">
            <!-- Stock Picker
            -------------------------------------------------------------- -->
            <div class="six columns stockpicker">
                <div class="dropdown">
                    <form asp-controller="Home" asp-action="Stocks" method="get">
                        <select name="getSymbol">
                            @foreach (var stock in Model)
                            {
                                @Html.Raw(stock.userOption)
                            }
                        </select>
                        <input type="submit" value="select stock" />
                    </form>
                </div>
            </div>
            <!-- Currency Picker
            -------------------------------------------------------------- -->
            <div class="six columns fxpicker">
                Show Prices in Selected Currency
            </div>
            <div class="six columns fxpicker">
                <a asp-area="" asp-controller="Home" asp-action="Index">$ USD</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">£ GBP</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">€ EUR</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">¥ JPY</a>
            </div>
        </div>
    </div>
</div>


<!-- Middle Section
-------------------------------------------------------------------------- -->
<div class="middle_section new_section">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                Stock Chart

                <br />
                <canvas id="chart_stock" width="420" height="450"></canvas>
            </div>
            <div class="four columns">
                News Ticker
            </div>

        </div>
    </div>
</div>


<!-- Bottom Section
-------------------------------------------------------------------------- -->
<div class="bottom_section new_section">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                Tech Indicator
                <canvas id="chart_indicator" width="420" height="450"></canvas>
            </div>
            <div class="four columns">
                Explain the tech indicator
                <!--<select name="getLogo">
                </select>
                <img src = @ViewBag.logo />-->
            </div>
        </div>
    </div>
</div>

