@{
    ViewData["Title"] = "Home Page";
}



<body>
    
        <div class="jumbotron myBackground">
            <div class="row">
                <div class="col-md-8">

                    <h6>Featured Story</h6>
                    <h1 class="whitney">Every Traveler Should Learn the Stock Market</h1>
                    <p> </p>
                    <p> </p>

                    <p><a asp-area="" asp-controller="Home" asp-action="TravelFin" class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
                    @* reference http://www.thetraveldebugger.com/2017/08/10/travel-stock-market/ *@
                </div>
                <div class="col-md-4">
                    <img src="~/images/planestock.jpg" class="img-size img-thumbnail">
                </div>
            </div>
            <p></p>
            <hr class="my-4">
            <h4 class="gotham font-weight-bolder">
                A Beginners' Guide to Learning The Stock Market
            </h4>
            <p>Introductory links to learning the basics of the stock market.</p>
        </div>

    
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script id="rendered-js">
                  // loaded: current version of jquery AND modernizr
                  //# sourceURL=pen.js
    </script>
</body>





@*Lower container*@
<div class="card-deck">
@*Card1*@
<div class="card">
    <div class="card text-center text-white bg-dark">
        <div class="card-body">
            <h4 class="card-title">Stock Ticker </h4>
            <h4 class="card-title">101 </h4>
            <p class="card-text">How To Read A Stock Ticker</p>

        </div>
    </div>
    <div class="card-footer text-center">
        @*<a href="https://www.investopedia.com/articles/01/070401.asp" class="btn btn-primary bg-info">Go</a>*@
        <a asp-area="" asp-controller="Home" asp-action="Four_StockTicker" class="btn btn-primary bg-info">Go</a>
    </div>
</div>
@*Card2*@
<div class="card">
    <div class="card text-center text-white bg-dark ">
        <div class="card-body">
            <h4 class="card-title">Stock Chart</h4>
            <h4 class="card-title">101 </h4>
            <p class="card-text">What's in a stock chart?</p>

        </div>
    </div>
    <div class="card-footer text-center">
        @*<a href="https://www.benzinga.com/investing/how-to-read-a-stock-chart/" class="btn btn-primary bg-info">Go</a>*@
        <a asp-area="" asp-controller="Home" asp-action="Stocks" class="btn btn-primary bg-info">Go</a>
    </div>
</div>
@*Card3*@
<div class="card">
    <div class="card text-center text-white bg-dark ">
        <div class="card-body">
            <h4 class="card-title">Currency Exchange </h4>
            <h4 class="card-title"> 101</h4>
            <p class="card-text">How to Read Currency Exchange Rates</p>

        </div>
    </div>
    <div class="card-footer text-center">
        @* <a href="https://business.westernunion.com/en-us/learning-center/FX-101/How-to-Read-FX-Rates" class="btn btn-primary bg-info">Go</a> *@
        <a asp-area="" asp-controller="Home" asp-action="two_fex" class="btn btn-primary bg-info">Go</a>
    </div>
</div>
</div>