@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-8">
        <h1 class="whitney">Every Traveler Should Learn the Stock Market</h1>
        <p> </p>
        <p> </p>
        <h4 class="gotham">A Beginners Guide to Learning The Stock Market</h4>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
    </div>
    <div class="col-lg-4">
        <img src="~/images/planestock.jpg" class="img-size img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h4>Stock Ticker </h4>
        <h4>101 </h4>
        <p>How To Read A Stock Ticker</p>
        <a asp-area="" asp-controller="Home" asp-action="Four_StockTicker" class="btn btn-primary btn-sm">Go</a>
    </div>

    <div class="col-md-3">
        <h4>Stock Chart</h4>
        <h4>101 </h4>
        <p>What's in a stock chart?</p>
        <a asp-area="" asp-controller="Home" asp-action="Stocks" class="btn btn-primary btn-sm">Go</a>
    </div>


    <div class="col-md-3">
        <h4>Currency Exchange</h4>
        <h4>101 </h4>
        <p>How to Read Currency Exchange Rates</p>
        <a asp-area="" asp-controller="Home" asp-action="two_fex" class="btn btn-primary btn-sm">Go</a>
    </div>
</div>