@model IEnumerable<ISM6225_Assignment_3_Project.Models.iex_api_Company>
@{
    ViewData["Title"] = "News Page";
}
<!-- Top Section
-------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="whitney">Corporate News</h2>
        <p>
            News......
        </p>
    </div>
</div>