@{
    ViewData["Title"] = "Why Every Traveler Should Learn the Stock Market";
}
<p></p>
<p></p>
<p></p>
<div class="container bg-light">
    <p></p>
    <h2>@ViewData["Title"]</h2>
    <p></p>
    <h4>@ViewData["Message"]</h4>
    <p></p>
    <p></p>
    <div class="container">
        <p>


            You’ve finally made the decision. You flipped the table and don’t want to spend your life
            in a cubicle anymore. You dislike waking up too early in the morning, spending almost
            your entire day in work and on the road because of the atrocious traffic jam in the
            metro and the useless public transpo. You hate your office and your dead end job.
        </p>
        <p>
            You got skills. Mad skills. You know software and web development, graphic design
            and database management. You have the eye on photography and video editing. You
            maintain a blog, write your travels there and you got a youtube channel for your vlogs.
            You even take jobs as a virtual assistant on the side! You-are-cool! You’re earning
            money through these side jobs and that’s why you said to yourself – now is the time to
            be a full-time Digital Nomad! Sounds really nice… Being able to travel the world while
            working! That’s the life!
        </p>
        <p>
            But there’s one little problem… You don’t know how to manage your money. I’m not just
            talking about saving, but how do you manage your money and make it grow through time.
            All your money is in your savings account that earns what – less than 1% per annum? You
            can’t beat inflation with that! The value of your money will be less in the future if
            you just saved it all in the bank!

        </p>
        <p>
            A friend once told you that you should also earn passive income besides
            your active income (your digital nomad jobs). He/she suggested that you should
            invest some of your hard earned money in the stock market. You’re quite hesitant
            because you heard that you need to have a lot of capital to invest and only rich people
            are in the stock market. You heard sad stories of people losing lots of money and in
            the end, got poor. Well, the former is wrong and the latter is true to some. People indeed
            lost lots of money in the market even the veterans and the professionals but that
            should not scare you in investing in one of the most amazing investment vehicles
            man has ever created. If you learn the ropes and you are well prepared, you can
            earn and grow your money for present and future use!
        </p>
        <p>
            Personally, I don’t aspire to be a digital nomad but I aim to retire early.
            That would also mean, that if I retire early, I can travel any time I want. I
            think the digital nomad and the ordinary employee can have the same goal of
            traveling freely in the future with less active income and more passive income!
            Just because you’re a digital nomad doesn’t mean you don’t have to prepare for the
            future and besides, you’re still doing work while traveling right? How about doing
            less work and earning more or the same of what you’re earning now? Sounds better?
        </p>
        <p>
            Still not convinced? Here, I made a small list of reasons and tips why a
            digital nomad (or an aspiring one) should learn and invest in the Stock Market.
        </p>
        <p>
        
            <h5>1) Retiring and traveling without money sucks</h5>

            It sucks for you, for your family and for anybody who’s helping you live at least a decent life in your retirement age. Having enough money during your retirement would ease the financial burden of your daily expenses and even continue your lifestyle of travel and new experiences even during that age! Think about it, would you still like to code or do graphic design at the old age of 70?! Of course not. It’s either your passive and multiple streams of income is high enough to sustain your lifestyle and daily expenses or you have a profitable business that you’re handling or better yet, have both! It’s nice to have something to keep you busy while you’re enjoying your retirement years.
       

        </p>
        <p>
            <h5>2) Stocks are liquid i.e. easy to dispose</h5>

            As a digital nomad like you, I bet you don’t want much real properties like a House or a Condo unit because well, you’re a Nomad! You’re always on the go and you don’t want to be maintaining a property now and then because even when you have it rented or leased for income, you still have to check out your property from time to time for improvements or damages.

            And this is the reason why Stocks are better for you. They are liquid, meaning they are easy to dispose, easy to convert to cash and be sold anytime you want as long as there is a buyer willing to buy at your intended price.
        </p>
        <p>
            <h5>3) You earn while you eat, sleep, sit, travel, etc</h5>

            Digital nomads have downtimes too… When you don’t work or travel and you’re just lazily lying on your hammock, you can instead be productive and research on stocks’ fundamentals, read/analyze the charts and plan your trades. You don’t have to be glued to your laptop everyday and read the ticker tape as those things are for day traders. Well, it depends on your trading style but day trading is something I wouldn’t suggest especially to new comers in the market. You buy stocks that has good fundamentals, increasing current, quarterly and annual earnings (and earnings per share) and is a market leader. But of course, you also have to monitor the performance of your stocks at least every week (if you’re too busy) and cut your losses aggressively if your stock declines to 7-8% from your buying price.
        </p>
        <p>
            For more info on this, I suggest you buy and read the William O’Neil’s book
            ‘How to Make Money in Stocks’. You will learn how to pick the right stocks, when
            to buy and sell them. It’s not about day trading nor about getting rich quickly,
            but it will teach you how to prepare and be in the best position of a stock before it
            advances and when to sell it based on time-tested indicators.

        </p>



    </div>
    <div><p> </p></div>
    <div><p> </p></div>
   
   
</div>
